.day-card:hover,
.day-card:active {
  border: 2px solid rgb(80, 187, 219) !important;
}
.css-yk16xz-control {
  border: none !important;
}

.daysTapsList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.daysTapsList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chartContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chartContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.css-g1d714-ValueContainer,
.css-b8ldur-Input,
.css-1pahdxg-control,
.css-2b097c-container, .css-1f43avz-a11yText-A11yText, .select-custom {
  outline: none !important;
  border: none !important;
}
@media only screen and (max-width: 540px) {
  /* .temp-chart{
    height: 100px !important;
    min-height: auto !important;
  }
  #SvgjsG1008 {
    height: 100px !important;
    min-height: auto !important;
  }
  .apexcharts-canvas{
      height: 100px !important;
      min-height: auto !important;
  } */
}

/* .App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
